<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">
            
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h1>{{message}}</h1>
                        <h2>{{error.status}}</h2>
                        <pre>{{error.stack}}</pre>
                    </div>
                </div>
            </div>     
            <!-- end page title --> 
        </div>
    </div>
</div>



